.item {
  height: 0.88rem;
}

.eeeLine {
  width: 6.9rem;
  height: 0.02rem;
  margin-top: 0rem;
  margin-left: 0.2rem;
  background-color: #eeeeee;
}

.itemContent {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.2rem;
}