
html, body, :global(#root) {
  height: 100%;
}
body {
  background-color: #F4F4F4;
  margin: 0px;
  padding: 0px;
  font-size: 0.28rem;
  color: #333333;

}

img {
  max-width: 100%;
  max-height: 100%;
}

input {
  border: 0;
}


